body {
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}
body .twitter-menu {
  width: 300px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  body .twitter-menu {
    display: none;
  }
}
body .twitter-menu .twitter-menu-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
}
body .twitter-menu .twitter-menu-list ul {
  width: 55%;
  gap: 5px;
  margin-left: 10px;
}
body .twitter-menu .twitter-menu-list li {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 10px;
  gap: 10px;
  padding: 10px;
  width: 150px;
}
body .twitter-menu .twitter-menu-list li:hover {
  background: rgb(39, 39, 39);
  transition: 0.3s;
}
body .twitter-menu .twitter-menu-list li a {
  font-size: 19px;
  text-decoration: none;
  color: #fff;
}
body .twitter-menu .twitter-menu-list li i {
  margin-right: 20px;
  font-size: 23px;
  color: rgb(231, 233, 234);
}
body .twitter-menu .twitter-menu-list .twitter-logo {
  width: 44%;
  padding: 10px;
  text-decoration: none;
}
body .twitter-menu .twitter-menu-list .twitter-logo i {
  font-size: 28px;
  height: 23px;
  color: #fff;
}
body .twitter-menu .twitter-menu-list .twitter-menu-list-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .twitter-menu .twitter-menu-list .twitter-menu-list-button button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(29, 155, 240);
}
body .twitter-menu .twitter-menu-profile {
  background: black;
  height: 60px;
  border-radius: 50px;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
  max-width: 100%;
  width: 250px;
  justify-content: space-between;
  cursor: pointer;
}
body .twitter-menu .twitter-menu-profile:hover {
  background: rgb(39, 39, 39);
}
body .twitter-menu .twitter-menu-profile .image-text {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
body .twitter-menu .twitter-menu-profile .image-text img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body .twitter-menu .twitter-menu-profile .image-text .text {
  margin-left: 10px;
  text-align: center;
}
body .twitter-menu .twitter-menu-profile .image-text .text p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 15px;
}
body .twitter-menu .twitter-menu-profile .image-text .text span {
  color: rgb(116, 116, 116);
  font-size: 14px;
}
body .twitter-menu .twitter-menu-profile i {
  margin-right: 20px;
}
body main {
  width: 600px;
  position: relative;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  position: relative;
}
@media (max-width: 768px) {
  body main {
    width: 768px;
    overflow-x: hidden;
  }
}
body main .icon-menu {
  position: fixed;
  width: 30%;
  background: black;
  box-shadow: 0px -4px 7px 0px rgba(255, 255, 255, 0.1);
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  fill: #fff;
  display: none;
}
body main .icon-menu svg {
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
body main .icon-menu svg:hover {
  background: rgb(31, 31, 31);
}
@media (max-width: 768px) {
  body main .icon-menu {
    display: block;
    width: 100%;
    display: flex;
  }
}
body main .me-tweet {
  border-bottom: 1px solid gray;
  height: auto;
}
@media (max-width: 768px) {
  body main .me-tweet {
    width: 0;
    height: 0;
    background: black;
  }
}
body main .me-tweet-head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  background: black;
  width: 580px;
  top: 0;
}
@media (max-width: 768px) {
  body main .me-tweet-head {
    width: 95%;
  }
}
body main .me-tweet-head .me-tweet-head-homepage {
  display: flex;
  align-items: center;
}
body main .me-tweet-head .me-tweet-head-homepage img {
  margin-right: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 768px) {
  body main .me-tweet-head .me-tweet-head-homepage img {
    display: none;
  }
}
body main .me-tweet-head h2 {
  color: #fff;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  body main .me-tweet-head h2 {
    font-size: 1rem;
  }
}
body main .me-tweet-head svg {
  width: 25px;
  cursor: pointer;
}
@media (max-width: 768px) {
  body main .me-tweet-head svg {
    width: 20px;
  }
}
body main .me-tweet-head svg g path {
  fill: #fff;
  width: 20px;
}
body main .me-tweet-text {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 768px) {
  body main .me-tweet-text {
    display: none;
  }
}
body main .me-tweet-text img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
}
body main .me-tweet-text .textarea {
  flex: 1;
  margin-top: 15px;
}
body main .me-tweet-text .textarea textarea {
  width: 99%;
  resize: none;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  height: 100px;
}
body main .me-tweet-text .textarea textarea:focus {
  overflow-y: scroll;
}
body main .me-tweet-text .textarea textarea::-moz-placeholder {
  color: rgb(110, 110, 110);
  font-size: 1.3rem;
}
body main .me-tweet-text .textarea textarea:-ms-input-placeholder {
  color: rgb(110, 110, 110);
  font-size: 1.3rem;
}
body main .me-tweet-text .textarea textarea::placeholder {
  color: rgb(110, 110, 110);
  font-size: 1.3rem;
}
body main .me-tweet-text .icon-button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 20px 0;
  padding-top: 20px;
}
body main .me-tweet-text .icon-button ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}
body main .me-tweet-text .icon-button ul li {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
}
body main .me-tweet-text .icon-button ul li:nth-child(7) {
  opacity: 0.5;
}
body main .me-tweet-text .icon-button ul li:hover {
  background: #031018;
  transition: 0.3s;
}
body main .me-tweet-text .icon-button button {
  width: 150px;
  height: 50px;
  border: none;
  background: rgb(29, 155, 240);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  opacity: 0.3;
}
body main .me-tweet-text .icon-button button:hover {
  opacity: 1;
  transition: 0.2s;
}
body main .me-tweet-text .icon-button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: rgb(29, 155, 240);
}
body main .tweet {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 96%;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
body main .tweet:hover {
  background: #080808;
  transition: 0.2s;
}
@media (max-width: 768px) {
  body main .tweet {
    width: 97%;
  }
  body main .tweet:nth-child(2) {
    margin-top: 70px;
    border-top: 1px solid gray;
  }
}
body main .tweet .tweet-image {
  margin-top: 20px;
}
body main .tweet .tweet-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
body main .tweet .tweet-text {
  color: #fff;
}
body main .tweet .tweet-text svg {
  fill: rgb(113, 118, 123);
  width: 13px;
  margin-left: -20px;
}
body main .tweet .tweet-text span {
  color: gray;
  font-size: 13px;
  margin-bottom: 5px;
}
body main .tweet .tweet-text .tweet-text-name {
  display: flex;
  align-items: center;
}
body main .tweet .tweet-text .tweet-text-name h4 {
  margin: 0 10px 0 0;
}
body main .tweet .tweet-text p {
  margin-top: 4px;
  font-size: 14px;
}
body main .tweet .tweet-text .image img {
  width: 350px;
  height: 500px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  body main .tweet .tweet-text .image img {
    width: 250px;
    height: 350px;
  }
}
body main .tweet .tweet-text .interaction {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}
body main .tweet .tweet-text .interaction div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(113, 118, 123);
}
body main .tweet .tweet-text .interaction div p {
  margin: 0;
  font-size: 14px;
}
body main .tweet .tweet-text .interaction div i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
body main .tweet .tweet-text .interaction .interaction-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .tweet .tweet-text .interaction .interaction-message:hover {
  color: #1B8AD6;
  transition: 0.2s;
}
body main .tweet .tweet-text .interaction .interaction-message:hover i {
  background: #0A171F;
}
body main .tweet .tweet-text .interaction .interaction-retweet:hover {
  color: #00BA7C;
  transition: 0.2s;
}
body main .tweet .tweet-text .interaction .interaction-retweet:hover i {
  color: #00BA7C;
  background: #071A14;
}
body main .tweet .tweet-text .interaction .interaction-like:hover {
  color: #C21465;
  transition: 0.2s;
}
body main .tweet .tweet-text .interaction .interaction-like:hover i {
  color: #C21465;
  background: #200914;
}
body main .tweet .tweet-text .interaction .interaction-share:hover {
  color: #1B8AD6;
  transition: 0.2s;
}
body main .tweet .tweet-text .interaction .interaction-share:hover i {
  background: #0A171F;
}
body main #close {
  width: 100%;
  height: 1020px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  overflow: scroll;
  transform: translateX(-100%);
  display: none;
  transition: all 0.7s ease-in;
}
@media (max-width: 768px) {
  body main #close {
    width: 100%;
    display: block;
  }
}
body main #close.navbar {
  transform: translateX(0);
}
body main #close .remove {
  transform: translateX(-100%);
}
body main #close .navbar-menu {
  width: 75%;
  background: black;
  height: 1060px;
  border-right: 1px solid gray;
  overflow-x: hidden;
}
body main #close .navbar-menu .navbar-menu-head {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
body main #close .navbar-menu .navbar-menu-head h5 {
  font-size: 1.3rem;
  margin: 15px;
}
body main #close .navbar-menu .navbar-menu-head i {
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 20px;
}
body main #close .navbar-menu .navbar-menu-head i:hover {
  transform: rotate(45deg);
  transition: 0.3s;
}
body main #close .navbar-menu .navbar-menu-profile {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
body main #close .navbar-menu .navbar-menu-profile .image-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
body main #close .navbar-menu .navbar-menu-profile .image-text img {
  width: 50px;
  border-radius: 50px;
}
body main #close .navbar-menu .navbar-menu-profile .image-text p {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
body main #close .navbar-menu .navbar-menu-profile .image-text span {
  color: #727272;
  font-size: 13px;
  margin-top: 5px;
}
body main #close .navbar-menu .navbar-menu-profile i {
  color: #fff;
  font-size: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
body main #close .navbar-menu .navbar-menu-profile .fallow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main #close .navbar-menu .navbar-menu-profile .fallow .followed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
body main #close .navbar-menu .navbar-menu-profile .fallow .follower {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
body main #close .navbar-menu .navbar-menu-profile .fallow p {
  font-size: 13px;
  color: #fff;
}
body main #close .navbar-menu .navbar-menu-profile .fallow span {
  font-size: 12px;
  color: #7a7b7c;
}
body main #close .navbar-menu .navbar-menu-list {
  margin-top: 20px;
}
body main #close .navbar-menu .navbar-menu-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(6) {
  border-bottom: 1px solid gray;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(9) {
  border-bottom: 1px solid gray;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(11) {
  border-bottom: 1px solid gray;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(14) {
  border-bottom: 1px solid gray;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(15) {
  padding-left: 20px;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}
body main #close .navbar-menu .navbar-menu-list li:nth-child(15) i {
  transform: rotate(180deg);
  margin-right: 10px;
}
body main #close .navbar-menu .navbar-menu-list li:hover {
  background: rgb(39, 39, 39);
}
body main #close .navbar-menu .navbar-menu-list li a {
  text-decoration: none;
  color: rgb(199, 197, 197);
  font-size: 15px;
}
body main #close .navbar-menu .navbar-menu-list li i {
  font-size: 15px;
  color: #727272;
  margin-left: 15px;
}
body .agenda {
  width: 340px;
  background: none;
  height: 100vh;
}
@media (max-width: 768px) {
  body .agenda {
    display: none;
  }
}
body .agenda .agenda-input {
  width: 100%;
  height: 48px;
  color: #fff;
  position: relative;
  background: #16181C;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50px;
  margin-top: 10px;
}
body .agenda .agenda-input input {
  width: 83%;
  padding: 10px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
}
body .agenda .agenda-input input::-moz-placeholder {
  font-size: 18px;
}
body .agenda .agenda-input input:-ms-input-placeholder {
  font-size: 18px;
}
body .agenda .agenda-input input::placeholder {
  font-size: 18px;
}
body .agenda .agenda-input i {
  position: absolute;
  left: 20px;
}
body .agenda .twitter-agenda {
  width: 100%;
  min-height: calc(100vh - 89px);
  background: #16181C;
  margin-top: 25px;
  border-radius: 20px;
}
body .agenda .twitter-agenda h2 {
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
  color: #fff;
  opacity: 0.9;
  padding-top: 20px;
  font-size: 23px;
}
body .agenda .agenda-tweet {
  width: 88%;
  height: 55px;
  padding: 21px;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
}
body .agenda .agenda-tweet:hover {
  background: #272a31;
  transition: 0.2s;
}
body .agenda .agenda-tweet h4 {
  margin: 0;
  color: #fff;
  font-weight: 100;
}
body .agenda .agenda-tweet p {
  margin: 0;
  font-size: 13px;
  color: #595D62;
  margin-top: 4px;
}
body .agenda .agenda-tweet span {
  font-size: 15px;
  color: #595D62;
  margin-bottom: 3px;
}
body .agenda .agenda-tweet i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
body .agenda button {
  width: 100%;
  height: 60px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  background: #16181C;
  border: none;
}
body .agenda button:hover {
  background: #272a31;
}
body .agenda button a {
  text-decoration: none;
  color: #1D8DD8;
  font-size: 16px;
  padding: 10px;
}
body .agenda .fallow-menu {
  width: 100%;
  height: 410px;
  background: #16181C;
  border-radius: 20px;
  margin-top: 20px;
}
body .agenda .fallow-menu h4 {
  margin: 0;
  color: #fff;
  padding: 20px;
  font-size: 23px;
}
body .agenda .fallow-menu .fallow-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  height: 70px;
}
body .agenda .fallow-menu .fallow-profile:hover {
  background: #272a31;
  transition: 0.3s;
}
body .agenda .fallow-menu .fallow-profile .fallow-prfofile-text {
  display: flex;
  gap: 10px;
  align-items: center;
}
body .agenda .fallow-menu .fallow-profile .fallow-prfofile-text img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
body .agenda .fallow-menu .fallow-profile .fallow-prfofile-text .text h6 {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}
body .agenda .fallow-menu .fallow-profile .fallow-prfofile-text .text span {
  color: #5e5e5e;
}
body .agenda .fallow-menu .fallow-profile a {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: blue;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
}
body .agenda .fallow-menu .more {
  height: 33px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1D9BF0;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}
body .agenda .fallow-menu .more:hover {
  background: #272a31;
  transition: 0.3s;
}
body .agenda .message-menu {
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
body .agenda .message-menu .open {
  transform: translateY(-430px);
  height: 500px;
  background: red;
  transition: 0.5s;
  width: 400px;
}
body .agenda .message-menu .open i:nth-child(2) {
  transform: rotate(180deg);
  transition: 0.8s;
}
body .agenda .message-menu #message {
  transition: 0.5s;
  position: relative;
  z-index: 999;
  height: 500px;
  padding-top: 10px;
  color: #fff;
  width: 440px;
  margin-right: 40px;
  justify-content: space-between;
  background: black;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.1);
}
body .agenda .message-menu #message .message-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
body .agenda .message-menu #message .message-head p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}
body .agenda .message-menu #message .message-head .icons {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: -30px;
  cursor: pointer;
  gap: 10px;
}
body .agenda .message-menu #message .message-head .icons i {
  font-size: 19px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
body .agenda .message-menu #message .message-head .icons i:hover {
  background: rgb(36, 36, 36);
}
body .agenda .message-menu #message .message-profile {
  width: 95%;
  padding: 0 0 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;
}
body .agenda .message-menu #message .message-profile:hover {
  background: #16181C;
  transition: 0.3s;
}
body .agenda .message-menu #message .message-profile:hover i {
  color: #fff;
}
body .agenda .message-menu #message .message-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body .agenda .message-menu #message .message-profile p {
  margin: 0;
}
body .agenda .message-menu #message .message-profile p:nth-child(2) {
  color: #595D62;
  margin-top: 3px;
}
body .agenda .message-menu #message .message-profile span {
  color: #595D62;
}
body .agenda .message-menu #message .message-profile i {
  position: absolute;
  color: black;
  right: 20px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .agenda .message-menu #message .message-profile i:hover {
  background: rgba(4, 255, 255, 0.1);
}/*# sourceMappingURL=stye.css.map */