body {
  background-color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  display: flex;
}
i{
  cursor: pointer;
}
header {
  width: 28%;
  height: 840px;
  margin: 0;
  padding: 0;
  position: fixed;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108%;
  padding-bottom: 10px;
}
header .logo i {
  color: rgb(214, 217, 219);
  font-size: 30px;
  padding-top: 15px;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: rgb(231, 233, 234);
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 850px;
  margin: 0 auto;
  margin-right: -20px;
}
.menu ul{
  height: 500px;
}
.menu li {
  padding: 30px;
}
.menu li i {
  font-size: 22px;
}
.menu a {
  font-size: 22px;
}
.home {
  display: flex;
  align-items: center;
  width: 100px;
}
.home:hover {
 
  background: rgb(29, 29, 29);
  border-radius: 50px;
  transition: 0.3s;
}
.explore {
  display: flex;
  align-items: center;
  width: 100px;
}
.explore:hover {
  background: rgb(29, 29, 29);
  border-radius: 50px;
  transition: 0.3s;
}
.notifications {
  display: flex;
  align-items: center;
  width: 150px;
}
.notifications:hover {
  border-radius: 50px;
  transition: 0.3s;
  background: rgb(29, 29, 29);
}
.messages {
  display: flex;
  align-items: center;
  width: 120px;
}
.messages:hover {
  border-radius: 50px;
  transition: 0.3s;
  background: rgb(29, 29, 29);
}
.bookmarks {
  display: flex;
  align-items: center;
  width: 130px;
}
.bookmarks:hover{
    border-radius: 50px;
    transition: 0.3s;
    background: rgb(29, 29, 29);
}
.list {
  display: flex;
  align-items: center;
  width: 70px;
}
.list:hover{
    border-radius: 50px;
    transition: 0.3s;
    background: rgb(29, 29, 29);
}
li i {
  margin-right: 15px;
}
.profile {
  display: flex;
  align-items: center;
  width: 90px;
}
.profile:hover{
    border-radius: 50px;
    transition: 0.3s;
    background: rgb(29, 29, 29);
}
.more {
  display: flex;
  align-items: center;
  width: 85px;
}
.more:hover{
    border-radius: 50px;
    transition: 0.3s;
    background: rgb(29, 29, 29);
}
.more p {
  position: absolute;
  margin-top: -10px;
  margin-left: 3px;
}
.button button{
    width: 220px;
    height: 50px;
    background: rgb(0, 255, 255);
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 200px;
}
.profile-me{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  border-radius: 50px;
  margin-right: 80px;
}
.profile-me img{
  padding: 10px;
  border-radius: 50px;
}
.name{
  margin-left: -30px;
}
.name p{
  font-size: 12px;
}
.name h5{
  font-weight: 600;
}
.profile-me:hover{
  background: rgb(29, 29, 29);
  transition: .3s;
}
.orta-kısım{
  position: relative;
  margin: auto;
  width: 40%;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.mid-home{
  width: 94%;
  padding: 16px;
  padding-left: 20px;
}
.mid-home h1{
  font-size: 20px;
  color: white;
  font-weight: 900;
}
.home-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-header i {
  color: white;
}
.mid-profile{
  padding: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.mid-profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.mid-profile input{
  background: 0;
  border: 0;
  font-size: 25px;
  outline: none;
  color: white;
  padding-left: 20px;
  width: 88%;
}
.icons-button{
  width: 90%;
  height: 100px;
  padding-left: 75px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.icons-button i{
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.icons-button i:hover{
  background: aqua;
  border-radius: 50%;
}
.icons-button .icon{
  display: flex;
}
.icons-button .btn{
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: aqua;
  border-radius: 20px;
  margin-right: 30px;
}
.icons-button .btn a{
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.icons-button .btn:hover{
  background: rgb(0, 233, 233);
  color: #fff;
  cursor: pointer;
}
.tweet{
  width: 100%;
  height: 600px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.tweet-header{
  height: 25px;
  padding: 30px;
  width: 94%;
  color: white;
  display: flex;
  align-items: center;  
}
.tweet-header .x{
  display: flex;
    align-items: center;
    justify-content: end;
    width: 62%;
}
.tweet-header p{
  margin-left: 20px;
}
.tweet-header span{
  text-align: center;
  width: 90px;
  margin-left: 10px;
  color: rgb(0, 85, 255);
}
.tweet-profile{
  width: 103%;
  height: 80px;
  padding: 10px;
  display: flex;
}
.tweet-profile .text{
  color: white;
  width: 82%;
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  height: 50px;
  margin-left: 10px;
}
.tweet-profile .image{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.tweet-profile .image img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.text h1{
  margin-right: 10px;
}
.text span {
  color: blue;
}
.text h4{
  margin-left: 10px;
  color: grey;
}
.text p{
  align-items: center;
  justify-content: start;
  width: 100%;
  display: flex;
}
.text i{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.text p span {
  margin-left: 10px;
}
.tweet .car{
  padding: 80px;
  padding-top: 10px;
}
.car img{
  border-radius: 20px;
  width: 630px;
}
.sidebar{
  width: 300px;
  height: 1000px;
  padding: 30px;
  padding-top: 10px;
  position: fixed;
  right: 200px;
}
.sidebar .search{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #353535;
  border-radius: 40px;
}
.sidebar input{
  background: 0;
  border: 0;
  width: 250px;
  outline: none;
  padding-left: 10px;
  color: grey;
  font-size: 15px;
}
.trend{
  width: 290px;
  height: 570px;
  margin-top: 20px;
  border-radius: 20px;
  padding-top: 20px;
  margin-left: 10px;
  background: #353535;
}
.trend h1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 20px;
}
.trend-tweet{
  color: grey;
  padding: 10px;
}
.trend-tweet span{
  font-size: 11px;
}
.trend-tweet h5{
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.trend-tweet p{
  font-size: 11px;
}
.trend-tweet i{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: -10px;
  margin-right: 20px;
}
.trend-tweet:hover{
  background: #4f4f4f;
  cursor: pointer;
}
.show-more h2{
  width: 70px;
}
.show-more{
  padding: 10px;
  padding-bottom: 16px;
  border-radius: 0 0 14px 14px;
  color: blue;
  font-size: 13px;
}
.show-more:hover{
  background: #4f4f4f;
}
.show-more h2:hover{
  border-bottom: 1px solid blue;
}
.fallow{
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background: #353535;
  border-radius: 30px;
}
.fallow h1{
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding-top: 14px;
  padding-left: 20px;
}
.fallow .profiles{
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 20px;
}
.fallow .image img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.fallow .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  margin-right: 20px;
}
.fallow .text h6{
  color: white;
  font-weight: 400;
  font-size: 17px;
}
.fallow .text p{
  font-size: 12px;
}
.profiles button{
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: white;
  border-radius: 24px;
}
.profiles button:hover{
  background: aqua;
  cursor: pointer;
  transition: .3s;
}
.fallow .show-more{
  padding-left: 20px;
}
